body {
  background: linear-gradient(0deg, #E4DBB6, #D6F4FF);
}

html, body, .container {
  height: 100%;
}

.container {
  display: -webkit-flex;
  display:flex;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-align-items:center;
  align-items:center;
}

.advice {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
}

.advice h1 {
  margin: 0;
}
